<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">

<head>
    <title>Reservas</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/css.css" th:href="@{/css/css.css}">
</head>

<body>
    <header th:replace="fragment/header.html :: header"></header>
    <div th:replace="fragment/login.html :: login"></div>

    <div class="caja" id="listCer">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h4>Reservas</h4>
                <table id="tabla">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Fecha</th>
                            <th>Coste</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="evento : ${nombreSocio.eventos}">
                            <td th:text="${evento.nombre}">Red chair</td>
                            <td th:text="${evento.fecha}">Red chair</td>
                            <td th:text="${evento.precio + '€'}">Red chair</td>
                            <td id="icono">
                                <a th:if="${evento.fecha >= hoy}" href="#" data-toggle="modal" data-target="#delete" th:attr="data-target='#modalBorrar'+${evento.id}"><img src="/img/borrar.png" alt=""></a>
                            </td>
                            <!--Modal Borrar Usuario-->

                            <div class="modal fade" id="delete" th:id="modalBorrar+${evento.id}">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title text-dark">¿Estás seguro?</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <a th:href="@{/reserva/borrar/{id}(id=${evento.id})}"><button type="button"
                                                    class="btn ">Eliminar</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <footer th:replace="fragment/footer.html :: footer"></footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>