<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">

<head>
    <title>Totales</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/css.css" th:href="@{/css/css.css}">
</head>

<body>
    <header th:replace="fragment/header.html :: header"></header>
    <div th:replace="fragment/login.html :: login"></div>

    <nav class="navbar navbar-dark bg-dark pt-4">
        <div class="col-2"></div>
        <a class="navbar-brand" href="../plantillas/ingresosCuota.html" th:href="@{/ingresosCuota}">Ingresos Cuotas</a>
        <a class="navbar-brand" href="../plantillas/ingresosEventos.html" th:href="@{/ingresosEventos}">Ingresos
            Eventos</a>
        <a class="navbar-brand" href="../plantillas/gastos.html" th:href="@{/gastos}">Gastos</a>
        <a class="navbar-brand" href="../plantillas/total.html" th:href="@{/total}">Total</a>
        <div class="col-2"></div>
    </nav>

    <div class="caja" id="listCer">
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <h4>Ingresos Totales</h4>
                <table id="tabla">
                    <thead>
                        <tr>
                            <th>Movimientos</th>
                            <th>Cuantia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ingresos Eventos</td>
                            <td th:text="${totalEventos}+'€'">Red chair</td>
                        </tr>
                        <tr>
                            <td>Ingresos Cuotas</td>
                            <td th:text="${totalCuotas}+'€'">Red chair</td>
                        </tr>
                        <tr>
                            <td>Gastos</td>
                            <td th:text="${totalGastos+'€'}">Red chair</td>
                        </tr>
                    </tbody>
                    <table id="tabla" class="mb-4">
                        <tr>
                            <th>Total:&nbsp;&nbsp;</th>
                            <td th:text="${total+'€'}"></td>
                        </tr>
                    </table>
                </table>
            </div>
            <div class="col-4"></div>
            <div class="row">

            </div>
        </div>
    </div>



    <footer th:replace="fragment/footer.html :: footer"></footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>