<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<title>Eventos</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="../../static/css/css.css"
	th:href="@{/css/css.css}">
</head>
<body>
	<header th:replace="fragment/header.html :: header"></header>
	<div th:replace="fragment/login.html :: login"></div>

	<div class="caja" id="tabla">
		<h1>Editar Evento:</h1>
		
		<form th:action="@{/eventos/submit}" th:object="${evento}" method="post">
			<input th:if="${evento.id != 0}" type="hidden" name="id" th:field="*{id}" />
			<label for="nombreCer"> Nombre del Evento:</label> 
			<input type="text" class="form-control"  th:field="*{nombre}"/>
			<label for="marcaCer"> Fecha:</label> 
			<input type="date" class="form-control"  th:field="*{fecha}"/>
			<label for="despricion"> Descripción:</label> 
			<input type="text" class="form-control" th:field="*{descripcion}"/>
			<label for="pvp"> Precio:</label>  
			<input class="form-control" type="number" step="any" name="" th:field="*{precio}"/> 
			<label for="precioSoci"> Nº Plazas:</label>  
			<input class="form-control" type="number" name="" th:field="*{nPlazas}"/>
			</br>
			<input type="submit" class="btn btn-danger" name="enviar" value="Guardar"/>
		</form>
				
	</div>

	<footer th:replace="fragment/footer.html :: footer"></footer>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>